// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2024 Qualcomm Innovation Center, Inc. All rights reserved.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/soc/qcom,ipcc.h>
#include <dt-bindings/interconnect/qcom,ravelin.h>
#include <dt-bindings/clock/qcom,rpmh.h>
#include "ravelin-ipa.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. Ravelin";
	compatible = "qcom,ravelin";
	qcom,msm-id = <568 0x10000>, <581 0x10000>, <653 0x10000>;
	qcom,board-id = <0 0>, <34 0x601>, <0x1000B 0x600>;
};
